defaults
    mode http
    timeout connect 5s
    timeout client 50s
    timeout server 50s

# --- JALUR APLIKASI (Port 8000 di luar) ---
frontend main_gateway
    bind *:80
    default_backend app_cluster

backend app_cluster
    balance roundrobin
    # Docker DNS otomatis ngenalin nama service di compose
    server api_serv api:8080 check
    server backend_serv backend:8080 check

# --- JALUR MONITORING (Port 8404 di luar) ---
listen stats
    bind *:8404
    stats enable
    stats uri /monitor
    stats refresh 5s
    stats auth user:password
